@using SucculentShop.Utilities
@model DataLayer.User

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>حذف کاربر</title>
</head>
<body>
    <h3>آیا از حذف کاربر اطمینان دارید?</h3>
    <div>
        <h4>حذف کاربر</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
    
           
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Role.RoleTittle)
            </dt>
            <dd>
               @Model.RegisterDate.ToShamsi()
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Role.RoleTittle)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="حذف کاربر" class="btn btn-danger" /> |
                @Html.ActionLink("بازگشت", "Index")
            </div>
        }
    </div>
</body>
</html>
