@using SucculentShop.Utilities
@model IEnumerable<DataLayer.User>

@{
    ViewBag.Title = "مدیریت کاربران";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>مدیریت کاربران</title>
</head>
<body>

<p>
    <a class="btn btn-primary top-10" href="@Url.Action("Create")">افزودن کاربر</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleTittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.RoleTittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @item.RegisterDate.ToShamsi()
            </td>

            <td>
                <a class="btn btn-warning btn-sm" href="@Url.Action("Edit",new{id=item.UserId})"><i class="glyphicon glyphicon-edit"></i></a>
                <a class="btn btn-danger btn-sm" href="@Url.Action("Delete",new{id=item.UserId})"><i class="glyphicon glyphicon-remove"></i></a>
                
            </td>
        </tr>
    }

</table>
</body>
</html>
