@model DataLayer.Product_Group

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h3>آیا نسبت به حذف گروه مطمئن هستید؟?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Group2.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Group2.GroupTitle)
        </dd>

    </dl>

    @using (Ajax.BeginForm("Delete","Product_Group",FormMethod.Post,new AjaxOptions()
    {
        OnSuccess = "success",
        UpdateTargetId = "listGroups"
    })) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="حذف گروه" class="btn btn-danger" /> 
        </div>
    }
</div>
